@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
    --primary-color: #000000;
    --secondary-color: white;
}

body {
    font-family: "Oxygen", sans-serif;
    margin: 0px;
    font-size: 1.3rem;
}

.margin-md {
    margin: 2rem;
}

.margin-sm {
    margin: 1rem;
}


/** container **/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


/** links **/

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1.3rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color) !important;
}


/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/** navigation **/

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
}

.gradient {
    background-color: #ffa69e;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99px;
    background-color: black;
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.nav-list {
    /*flex: 1 1 0%;*/
    justify-content: flex-end;
    margin: 0 -16px;
    color: white;
}

.nav-list a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
}

.nav-list a.active,
.nav-list a:hover {
    background-color: pink;
    border-radius: 99px;
}


/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;
    background-color: peachpuff;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    border-radius: 50%
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--secondary-color);
}


/*------------------about me --------------*/

.intro {
    background-color: #f3fafa;
}

.bg img {
    height: 50vh;
    padding: 140px;
    border-radius: 70%;
}

.about-f {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif !important;
    padding: 0vw;
}

.text {
    margin: 10vh;
    font-weight: bold;
}

p {
    font-size: 1.5em;
    justify-content: end;
}

.about i {
    font-family: 'Dancing Script', cursive !important;
    font-size: 1.5em;
}


/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.tech {
    display: flex;
    flex-wrap: wrap;
}

.tech>img {
    width: 6.25rem;
    object-fit: contain;
    margin: 1em;
}


/*          technologies   */

.mysection {
    background-color: aqua;
}

.center {
    text-align: center;
    box-shadow: #333;
    font-size: 50px;
    background-color: black;
    color: antiquewhite;
}

.mySkill {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.skill-img {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4c5656;
    --box-shadow-color: rgba(255, 215, 97, 0, 48);
    padding: 5vh;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: hsl(0, 23%, 30%);
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 70%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    width: 25px;
    height: 25px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(9) {
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(10) {
    width: 90px;
    height: 90px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 4s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}


/*-----project---------------------------------------------*/

.section-p {
    background-color: aqua;
}

.section .container {
    background-color: rgb(red, green, blue);
}


/*-------------------------------------certificates----------------------*/


/*-------------------------------------certificates----------------------*/


/*-------------------------------------contact me----------------------*/

#contact {
    padding: 50px 15px;
    background: $base-color;
    text-align: center;
    h2 {
        margin: 0 0 15px 0;
        color: #fff;
        font-weight: 500;
    }
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    input,
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin-bottom: 10px;
        background: darken($base-color, 15%);
        color: #fff;
        @include transition();
        @include placeholder {
            color: #fff;
        }
        &:focus {
            outline: none;
            background: darken($base-color, 25%);
        }
    }
    textarea {
        height: 150px;
        resize: none;
    }
    button {
        display: block;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        border: none;
        color: $base-color;
        font-weight: 700;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        @include transition();
        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
    }
}


/*-------------------------------------contact me---------->


/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer img {
    width: 60px;
}